/* CSS by Ethan Christie */

body 
{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 h2 h3
{
    text-shadow: grey 0 0 1dip;
}

button,
.fakeBtn
{
    padding: 0;
    border-width: 0;
    height: max-content;
    cursor: pointer;
    z-index: 100;
}

#toolbar button
{
    margin-left: 10px;
}

#ImgOverlay
{
    overflow: auto;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 50;
}

#gifimg
{
    position: absolute;
}

#toolbar
{
    cursor: default;
    flow: horizontal;
    width: *;
    opacity: 0.5;
    background-color: #005580; 
    z-index: 300;     
}

#FillImg
{  
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: -100;
}

#ZoomOverlay
{
    z-index: 300;  
    position: absolute;
}

#ImgMenu * 
{
    opacity: 0.6;
}

#CancelMenu
{
    z-index: 200;
}

#PrevImgImg
{
    transform: scale(-1, 1);
}

#NextImgImg
{
    right: 2;
}

#ImgName
{
    word-wrap: break-word;
    width: *;
    font-size: 15dip;
    position: absolute;
    bottom: -2dip;
    left: 2dip;
    color: #005580;
    opacity: 0.8;
    text-shadow: black 0 0 1dip;
}

.arrow
{
    height: auto;
    width: 15vmin;
    position: absolute;
}

.tbImg
{
    background-color: #005580;
    height: auto;
    width: 5vmin;
    max-width: 50dip;
    min-width: 15dip;
    padding: 4px 4px 4px 5px;
}

#ImgOverlay .BtnMenu
{
    z-index: 200;
    margin: 5dip auto;
    height: 0;
    transition: opacity(linear, 650ms);
}

.BtnMenu[fade=in]
{
    opacity: 0.8; 
}

.BtnMenuClose
{
    position: absolute;
    margin-left: 110dip;
    height: auto;
    width: 7vmin;
    background-color: transparent;
}

.rightBtn
{
    text-align: right;
    margin-right: 7vmin;
}

#Slideshow
{
    opacity: 0.70;
}

#NoImageFound
{
    visibility: none;
    margin: auto;
    text-align: center;
}

@media window-width < 500
{
    #NoImageFound h1
    {
        font-size: 10vmin;
    }

    #NoImageFound h2
    {
        font-size: 8vmin;
    }

    #NoImageFound h3
    {
        font-size: 6vmin;
    }

    #ImgName
    {
        font-size: 3vmin;
    }
}

@media window-width >= 500
{
    #NoImageFound h1
    {
        font-size: 70dip;
    }

    #NoImageFound h2
    {
        font-size: 30dip;
    }
}